<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MobX Todos</span>
  </mat-toolbar-row>
</mat-toolbar>

<section class="main-wraper">
  <mat-card>
    <form>
        <mat-form-field class="full-w">
          <input #input matInput name="title" placeholder="What needs to be done?" [(ngModel)]="title" autofocus>
        </mat-form-field>
        <button mat-mini-fab class="add-btn" [disabled]="!input.value.length" (click)="addTodo()">
          <mat-icon>add</mat-icon>
        </button>
    </form>
  </mat-card>
  <app-section></app-section>
</section>
